<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFzfbBBjAJXgNFwToHYwcrNnTuKvqcuwI</string>
	<key>GCM_SENDER_ID</key>
	<string>115276494788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jokeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>joke-hl-app</string>
	<key>STORAGE_BUCKET</key>
	<string>joke-hl-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115276494788:ios:f21f70d1ef6d41ab589691</string>
</dict>
</plist>